{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}  <!-- Chargez les balises crispy -->

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Changer le mot de passe</h2>
    <div class="card my-4 card-shadow-lg"> <!-- Classe de carte standard avec ombre -->
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}  <!-- Utilisation de crispy pour le rendu du formulaire -->
                <button type="submit" class="btn btn-primary">Changer le mot de passe</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

<style>
.card-shadow-lg {
    box-shadow: 0 13px 10px rgba(0, 0, 1, 0.5); /* Ombre foncée */
    border-radius: 8px; /* Arrondi des coins */
}

.card {
    border: 1px solid #e4e6eb; /* Bordure légère pour la carte */
}

.card-body {
    padding: 20px; /* Espacement interne */
}
</style>